<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
  <span><button (click)="removeToCart(item)">X</button></span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>Email</label>
    <input type="text" formControlName="email">
  </div>
  <div>
    <select (change)="onChange($event)" class="form-control" id="allocation-algorithm">
      <option *ngFor="let shipping of shippingCosts | async" >
        {{shipping.type}}
      </option>
    </select>
  </div>
  <div>
    <button class="button" type="submit">Purchase</button>
  </div>
</form>




